/* Colors */
$clr-purple: #592565;
$clr-blue: #0D1E69;
$clr-gray: #B7B7B7;
$clr-darkgray: #2D2E2E;
$clr-lightgray: #F6F6F6;
$clr-white: #ffffff;
$clr-black: #000000;

/* Fonts */
$font-xs: 12px;
$font-sm: 14px;
$font-md: 20px;
$font-lg: 28px;